[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"

[packages]
numpy = "*"
flask = "*"
requests = "*"
sklearn = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
